@{
    ViewData["Title"] = "Main Menu";
}
<h3>@TempData["Upload"]</h3>
<a asp-action="Upload" asp-controller="Home" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Upload VCards</a>
<a asp-action="Generate" asp-controller="Home" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Generate QR Codes</a>